body {
    background-image: url("IMAGE/Home/grey-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family:Sans-serif;
    max-height: 600px;
    height: 600px;
}

h1 {
    padding:0;
    color:deeppink;
    text-shadow:1px 1px 1px black;
    margin:1em;
    font-size: 64px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: black;
    margin:0;
    padding:4px;
}

#goal > h2 {
    background-color: darkorange;
}

#howTo > h2 {
    background-color: dodgerblue;
}

#paragraph {
    margin: 1em;
    color: black;
    clear:both;
    padding-top:2em;
}

#goal, #howTo {
    float:left;
    background: lightgrey;
    min-height:300px;
    overflow:auto;
    width:100%;
    clear:both;
}

#howTo {
    background: darkgray;
}

/* Gestion des moyennes résolutions */
@media screen and (min-width: 1024px) {
    #goal {
        width:30%;
        clear:none;
    }
    #howTo {
        width:70%;
        clear:none;
    }
}

/* Gestion des faibles résolutions */
@media screen and (max-width: 640px) {
    #goal, #howTo {
        clear:both;
        width:100%;
    }
}