body {
    background-color: #1c7430;
    max-height: 600px ;
    height: 600px;
}

button:hover {


    background-color : darkred;
    border: red;
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transform-origin: top right;
    -moz-transform-origin: top right;
    -o-transform-origin: top right;
    transform-origin: top right;
}
.btnBegin
{
    text-align: center;
    cursor: pointer;
    margin: 15px;
    position: absolute;
    width: 350px;
    height: 80px;


    border-radius: 10px;
    background-color: #005cbf;
    border: none;
    color: #FFFFFF;
    font-size: 28px;

    transition: all 0.5s;


    /* Firefox */
    top: -moz-calc(50% - 80px);
    /* WebKit */
    top: -webkit-calc(50% - 80px);
    /* Opera */
    top: -o-calc(50% - 80px);
    /* Standard */
    top: calc(50% - 80px);

    /* Firefox */
    left: -moz-calc(50% - 175px);
    /* WebKit */
    left: -webkit-calc(50% - 175px);
    /* Opera */
    left: -o-calc(50% - 175px);
    /* Standard */
    left: calc(50% - 175px);
}
#btnPlay4
{
    /* Firefox */
    top: -moz-calc(65% - 80px);
    /* WebKit */
    top: -webkit-calc(65% - 80px);
    /* Standard */
    top: calc(65% - 80px);

}
#btnPlay8
{
    /* Firefox */
    top: -moz-calc(80% - 80px);
    /* WebKit */
    top: -webkit-calc(80% - 80px);
    /* Standard */
    top: calc(80% - 80px);

}
#next
{
    /* Firefox */
    left: -moz-calc(60% - 175px);
    /* WebKit */
    left: -webkit-calc(60% - 175px);

    /* Standard */
    left: calc(60% - 175px);
}
.iptNamePlayer
{
    width: 350px;
    height: 75px;
    font-size: 50px;
    border-radius: 10px;
}
#btnPlayInit
{

}
#dBoxNbrPlayer
{
    visibility: hidden;
}
#dBoxNbrPlayer button
{
    width: 500px;
    height: 80px;
    /* Firefox */
    left: -moz-calc(50% - 250px);
    /* WebKit */
    left: -webkit-calc(50% - 250px);

    /* Standard */
    left: calc(50% - 250px);
}
#dBoxInfoPlayer
{
    visibility: hidden;
    background-color: #0b2e13;
    /* Firefox */
    left: -moz-calc(50% - 250px);
    /* WebKit */
    left: -webkit-calc(50% - 250px);

    /* Standard */
    left: calc(50% - 250px);
}
#dBoxHamster
{
    margin-left: 25%;
    margin-right: 25%;
}
#map
{
    width: 100%;
    height: 250px;
    background-color: grey;
    position: absolute;
    top : 70%;
    left: 0px;
    visibility: hidden;
}

.hamsterChoice {
    float: left;
    width: 75px;
    height: 75px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}
.hamsterChoosing
{
    display: inline-block;

    width: 75px;
    height: 75px;
    border: 1px solid black;
    background-color: white;
    border-radius: 50px 50px;

}